<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="myproject" thread-count="2" parallel = "tests">

	<listeners>
		<listener class-name = "com.myproject.testnglistener.Listeners"/>
	</listeners>

	<test name = "ChromeTest" >
		<parameter name = "browser" value = "chrome"/>
		<classes>
			<class name="com.myproject.tests.TestGoogle"/>
		</classes>
	</test> 

	<test name = "FireFoxTest" >
		<parameter name = "browser" value = "firefox"/>
		<classes>
			<class name="com.myproject.tests.TestGoogle"/>
	    </classes>
	</test> 

</suite> <!-- Suite -->
